<!--
- Author: Kaden FLick
- Description: Template for list of links at the top of each page.
-->

<ul>
  <li><a href="/">Homepage</a></li>
  <li><a href="/cart">Cart</a></li>
  <li><a href="/orderList">Order List</a></li>
  <li><a href="/customers">Customer List</a></li>
  <li><a href="/addThings">Add</a></li>
</ul>
