<ul>
  <li><a href="index.html">Homepage</a></li>
  <li><a href="fruits.html">Fruits</a></li>
  <li><a href="cart.html">Cart</a></li>
  <li><a href="orders_viewer.html">Order List</a></li>
  <li><a href="customers.html">Customer List</a></li>
  <li><a href="add_things.html">Add</a></li>
</ul>
