<!--
- Author: Kaden FLick
- Description: Template for the tastes checkbox field.
-->

<fieldset> <!-- Dont know how to populate the checkboxes yet -->
  <legend>Select Tastes</legend>

  <input type="checkbox" name="taste" value="sweet">
  <label for="sweet">Sweet</label>
  <input type="checkbox" name="taste" value="crisp">
  <label for="crisp">Crisp</label>
  <input type="checkbox" name="taste" value="juicy">
  <label for="juicy">Juicy</label>
</fieldset>
