<!--
- Author: Kaden FLick
- Description: Template for the vitamins checkbox field.
-->

<fieldset> <!-- Dont know how to populate the checkboxes yet -->
  <legend>Select Vitamins</legend>

  <input type="checkbox" name="vitamin" value="vitamin-c">
  <label for="vitamin-c">Vitamin-C</label>
  <input type="checkbox" name="vitamin" value="thaimine">
  <label for="thaimine">Thaimine</label>
  <input type="checkbox" name="vitamin" value="potassium">
  <label for="potassium">Potassium</label>
</fieldset>
