<body>
  <header>
    <h1 class="site-title">Customer List</h1>

    {{>link_header}}
  </header>

  <div class="customer-search">
    <fieldset>
      <legend>Customer Search</legend>

      <label for="first-name">First Name</label>
      <input type="text" name="first-name" placeholder="First Name">
      <label for="last-name">Last Name</label>
      <input type="text" name="last-name" placeholder="Last Name">
      <label for="phone-number">Phone Number</label>
      <input type="text" name="phone-number" placeholder="123-456-7890">

      <input type="submit" value="Search">
      <input type="reset">
    </fieldset>
  </div>

  <div class="customer-card-group">
    {{#each customer_card}}
      <div class="customer-card">
        <p>First Name: {{first_name}}</p>
        <p>Last Name: {{last_name}}</p>
        <p>Phone Number: {{phone_number}}</p>
      </div>
    {{/each}}
  </div>
</body>
